<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dk.mapper.DkItemMapper">

	<insert id="addItem" useGeneratedKeys="true" keyProperty="itemId">
	
		insert into dkitem(item_name,item_type,item_count,item_unit,item_origin)
		<include refid="insert_values">
		</include>
	</insert>
	
	<insert id="addItemList" useGeneratedKeys="true" keyProperty="itemId">
	
		insert into dkitem(item_name,item_type,item_count,item_unit,item_origin)
		values
		<foreach collection="list" item="item" separator=",">
			(
			#{item.name},
			#{item.type},
			#{item.count},
			#{item.unit},
			#{item.origin}
			)
		</foreach>
	</insert>
	
	<sql id="insert_values">
		values (
				#{name},
				#{type},
				#{count},
				#{unit},
				#{origin}
				)
	</sql>

	<resultMap id="dkItemResult" type="dkItem">
		<id property="itemId" column="item_id"></id>
		<result property="name" column="item_name"/>
		<result property="type" column="item_type"/>
		<result property="count" column="item_count"/>
		<result property="unit" column="item_unit"/>
		<result property="origin" column="item_origin"/>
		<result property="date" column="item_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	</resultMap>
</mapper>