<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dk.mapper.SettingMapper">

	<select id="getModuleOptions" resultMap="moduleOption">
		select * from module
	</select>
	
	<select id="getPermissionListByPage" resultMap="permission">
		select * from  permission limit #{offset},#{limit}
	</select>
	
	<select id="getPermissionCount" resultType="int">
		select count(*) from permission
	</select>
	
	<select id="queryPermissionById" resultMap="permission">
		select * from permission where id = #{id}
	</select>
	
	<insert id="addPermission" parameterType="permission" useGeneratedKeys="true" keyProperty="id">
	insert into permission(module_id,module_name,permission_name) values
			<foreach collection="list" item="item" separator=",">
				(
				#{item.moduleId},
				#{item.moduleName},
				#{item.permissionName}
				)
			</foreach>
	</insert>
	
	<update id="updatePermission" parameterType="permission">
		update permission set 
			<trim suffixOverrides=",">
				<trim prefix="module_id = case " suffix="end,">
					<foreach collection="list" item="item">
						<if test="item.moduleId != null">
							when id = #{item.id} then #{item.moduleId}
						</if>		
					</foreach>	
				</trim>
				<trim prefix="module_name = case " suffix="end,">
					<foreach collection="list" item="item">
						<if test="item.moduleName != null">
							when id = #{item.id} then #{item.moduleName}
						</if>		
					</foreach>	
				</trim>
				<trim prefix="permission_name = case " suffix="end,">
					<foreach collection="list" item="item">
						<if test="item.permissionName != null">
							when id = #{item.id} then #{item.permissionName}
						</if>		
					</foreach>	
				</trim>
			</trim>
			<trim prefix="where id in(" suffix=")">
				<foreach collection="list" item="item" separator=",">
					#{item.id}
				</foreach>
			</trim>
	</update>
	
	<resultMap id="moduleOption" type="moduleOption">
		<id property="id" column="id"></id>
		<result property="moduleName" column="module_name"/>
	</resultMap>
	
	<resultMap id="permission" type="permission">
		<id property="id" column="id"></id>
		<result property="moduleId" column="module_id"/>
		<result property="moduleName" column="module_name"/>
		<result property="permissionName" column="permission_name"/>
	</resultMap>
</mapper>